.hero_section{
    background-image: url(../media/slider-image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.header{
    padding: 2rem;
}
.brand{
    font-size: 1.6rem;
    color: $white;
    font-weight: 610;
}
.brand a{
    color: $white;
}
.dot{
    color: $primary;
}
.nav ul li a{
    color: $white;
    font-weight: bold;
    margin-right: 4rem;
    transition: all 0.5s ease-in-out;
    &:hover{
        color: $primary;
    }
}
.phone_num{
    color: $white;
}
.phone_num small{
    font-weight: bold;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
        color: $primary;
    }
}
.phone_num small i{
    font-size: 0.8rem;
}
.hero_content{
    color: white;
}
.hero_content h5{
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero_content h1{
    font-size: 4rem;
    font-weight: 600;
    width: 60%;
    line-height: 1.3;
    margin-top: 2.5rem;
}
.btn_div_new{
    margin-top: 3.5rem;
    background-color: #292929;
    &:hover{
        background-color: $white;
    & .btn{
        color: black;
    }
    }
}

.hero_content_section{
    margin-top: 10rem;
}

// Food section
.food_section{
    padding: 5rem;
}
.food_left a{
    font-size: 1rem;
    color: #C3CBDB;
    letter-spacing: 2px;
}
.food_left h2{
font-weight: 600;
width: 80%;
margin-top: 1rem;
line-height: 1.5;
}
.food_left p{
    line-height: 1.5;
    color: gray;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.food_left .food_para{
    margin-top: 2.5rem;
}
.food_right img{
    width: 100%;
}

// Chef section
.chef_section{
    background-color: $tertiary;
    padding: 6rem;
}
.head{
    text-align: center;
}
.heading{
    font-weight:bold;
}
.para{
    text-transform: uppercase;
    font-weight: 550;
    color: #C3CBDB;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}
.card{
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.card img {
    width: 100%;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.card h3{
    margin-top: 3rem;
    font-weight: 600;
}
.card p{
    margin-top: 1rem;
    font-weight: 600;
    color: #C3CBDB;
    letter-spacing: 2px;
}
.cards{
    margin-top: 5rem;
}

// Menus section
.menus_section{
    margin-top: 8rem;
}
.menus{
    margin-top: 4rem;
}

.hover_section{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1.5;
    color: $white;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 2rem;
    display: none;
}
.hover_section strong {
    font-size: 2rem;
}
.image{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
    &:hover .hover_section {
        display: inline-flex;
        transition: all 0.5s ease-in-out;
    }

}
.image img{
    width: 100%;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform:  scale(1.1);
    }
  
}


// Contact section
.contact_section{
    margin-top: 10rem;
}
.contact_left{
    border: 1px solid blue;

}
.contact iframe{
    width: 100%;
    height: 100%;
}
input, textarea{
    height: 50px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 2rem;
    margin-top: 1rem;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);

}
.inp{
    display: block;
    width: 90%;
}
.contact{
    align-items: unset;
}
.contact_right h2{
    font-weight: bold;
}
.inp_one input{
    width: 45%;
}
.message_btn{
    width: 90%;
    margin-top: 2rem;
    font-weight: 600;
}
textarea{
    height: 200px;
    margin-top: 0;
}
.hr{
    // border: 1px solid rgba(128, 128, 128, 0.274);
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.253);
    margin-top: 10rem;
}

// Footer 
.footer_section{
    margin-top: 8rem;
}
.footer{
    align-items: unset;
}
.foot_one h4{
    font-weight: bold;
}
.address{
    line-height: 1.5;
    color: rgba(128, 128, 128, 0.87);
    margin-top: 2rem;
}
.foot_two .monday{
    margin-top: 2rem;
}
.foot_two strong{
    font-weight: bold;
    font-size: 1.3rem;
}
.hours_one{
    margin-top: 1rem;
    line-height: 1.5;
}
.icons i{
    font-size: 1.3rem;
    color: $primary;
}
.foot_paras h6, .foot_paras p{
    font-size: 1.2rem;
    color: rgba(128, 128, 128, 0.87);
}
.foot_paras {
    margin-top: 2rem;
}
.foot_paras p{
    margin-top: 3rem;
}
.foot_paras div{
    line-height: 2;
}
.foot_one{
    padding: 5rem 0;
}
#toggle{
    display: none;
}
.bars {
    font-size: 0;
    display: block;
}

@media screen and (max-width:768px) {
    html{
        font-size: 12px;
    }
    .container{
        width: 90%;
    }
    .nav_ul{
        display: none;
    }
    .bars{
        font-size: 2rem;
        color: $white;
    }
    #toggle:checked ~ .nav_ul {
        display: block;
        background: linear-gradient(#2193b0, #6dd5ed);
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }
    .nav_ul li{
        font-size: 2rem;
        position: relative;
        line-height: 3;
        text-align: center;
        top: 26%;
    }
    .times{
        position: absolute;
        font-size: 2rem;
        color: $white;
        top: 3%;
        right: 3%;
        display: block;
    }
    .header_right{
        display: none;
    }
    .flex-23, .flex-30, .flex-33, .flex-45{
        flex: 0 1 100%;
    }
    .column{
        flex-direction: column;
    }
    .hero_section{
        height: 60vh;
    }
    .card{
        margin-top: 2rem;
    }
    .image{
        margin-top: 2rem;
    }
    .contact_left iframe{
        width: 100%;
        height:500px;
    }
    .contact_right{
        margin-top: 2rem;
    }
    
    .icons i{
        font-size: 2rem;
    }
   
    
}

@media screen and (max-width:400px) {
    html{
        font-size: 8px;
    }
    .hero_content h1{
        font-size: 3rem;
    }
    .btn_div{
        width: 150px;
        height: 30px;
    }
    .food_left h2{
        width: 100%;
    }
  
    
}

